<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IR comparator</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/css/main.css" rel="stylesheet">
</head>

<body>

    <div class="container">

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <form class="form-signin" role="form">
                <input type="text" id="search" name="search" class="form-control" placeholder="Enter Your Search Query" autofocus/>
            </form>
        </div>
    </div>

    {% if tfidf is defined %}
    <div class="row">
        <div class="col-sm-6">
            <div id="tfidf">
                <h3 class="text-center">TF-IDF results</h3>
                {% for x in tfidf %}
                <div class="result">
                <div class="result-content">
                    <h4><strong>{{ x["title"] }}</strong></h4>
                    <h5><strong>Subreddit :</strong> {{ x["subreddit"] }}</h5>
                    <h5><a target='_blank' href='{{ x["url"] }}'>{{ x["url"] }}</a></h5>
                    <div class="result-body">{{ x["body"] }}</div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            <div id="tfidf">
                <h3 class="text-center">BM25 results</h3>
                {% for x in bm25 %}
                <div class="result">
                <div class="result-content">
                    <h4><strong>{{ x["title"] }}</strong></h4>
                    <h5><strong>Subreddit :</strong> {{ x["subreddit"] }}</h5>
                    <h5><a target='_blank' href='{{ x["url"] }}'>{{ x["url"] }}</a></h5>
                    <div class="result-body">{{ x["body"] }}</div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    </div>


    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>

</body>

</html>
